@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Homepage -->
@await Component.InvokeAsync("_HomepageComponentPartial")

<!-- Authors -->
<section id="authors">
    @await Component.InvokeAsync("_AuthorComponentPartial")
</section>

<!-- Books -->
<section id="books">
@await Component.InvokeAsync("_BookComponentPartial")
</section>

<!-- About -->
<section id="about">
@await Component.InvokeAsync("_AboutComponentPartial")
</section>


