<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Prologue by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/prologue/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Header -->
	<div id="header">

		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")

	</div>

	<!-- Main -->
	<div id="main">

		@RenderBody();
		
	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="~/prologue/assets/js/jquery.min.js"></script>
	<script src="~/prologue/assets/js/jquery.scrolly.min.js"></script>
	<script src="~/prologue/assets/js/jquery.scrollex.min.js"></script>
	<script src="~/prologue/assets/js/browser.min.js"></script>
	<script src="~/prologue/assets/js/breakpoints.min.js"></script>
	<script src="~/prologue/assets/js/util.js"></script>
	<script src="~/prologue/assets/js/main.js"></script>

</body>
</html>