<div id="footer">
    <ul class="copyright">
        <li>&copy; Nazif Karaca. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
    </ul>
</div>