/* Form ve Genel Container Stili */
.form-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h4 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.form-container label {
    padding: 10px 5px; /* Vertical 10px, Horizontal 10px */
    text-align: left; /* Optional: Center-align text */
    font-size: 14px;
    font-weight: bolder;
    color: brown;
}

.form-control {
    padding: 0px 5px; /* Vertical 10px, Horizontal 10px */
    text-align: left; /* Optional: Center-align text */
    font-size: 14px;
    font-weight: bolder;
    color: black;
}

.form-container input[type="text"],
.form-container input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin-bottom: 10px;
}

.form-container input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-container .text-danger {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
}

.form-container .btn:hover {
    background-color: #218838;
}

/* Tablolar için Stil */
.table-container {
    max-height: 300px; /* Maksimum yükseklik - Scroll için */
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.table {
    padding: 10px 10px; /* Vertical 10px, Horizontal 10px */
    text-align: center; /* Optional: Center-align text */
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f8f9fa;
    font-weight: 900;
    position: sticky; /* Sabit başlık */
    top: 0;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 5px 15px;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    padding: 5px 15px;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.btn-warning {
    background-color: #d1c81d !important;
    border-color: #d1c81d !important;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.btn-success:hover {
    background-color: #218838;
}


