.bootstrap-scope .table {
    border-collapse: collapse !important;
    width: 100% !important;
}

.bootstrap-scope .table th,
.bootstrap-scope .table td {
    padding: 10px 10px; /* Vertical 10px, Horizontal 10px */
    text-align: center; /* Optional: Center-align text */
}

.bootstrap-scope .btn {
    font-size: 14px !important;
    padding: 0.375rem 0.75rem !important;
    border-radius: 0.25rem !important;
    color: #fff !important;
}

.bootstrap-scope .btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.bootstrap-scope .btn-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.bootstrap-scope .btn-warning {
    background-color: #d1c81d;
    border-color: #d1c81d;
}
