<!DOCTYPE HTML>
<html>
<head>
    <title>Karaca Kütüphane</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- Prologue CSS -->
    <link rel="stylesheet" href="~/prologue/assets/css/main.css" />
</head>
<body class="is-preload">

    <!-- Header -->
    <div id="header">
        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
    </div>

    <!-- Main -->
    <div id="main">
        @RenderBody();
        @RenderSection("Scripts", required: false)
    </div>
    
    <!-- Footer -->
    @await Component.InvokeAsync("_FooterComponentPartial")

    <!-- Scripts -->
    @await Component.InvokeAsync("_ScriptsComponentPartial")

    
</body>
</html>
