<div class="top">

	<!-- Logo -->
	<div id="logo">
		<span class="image avatar48"><img src="~/prologue/images/librarylogo.jpg" alt="" /></span>
		<h1 id="title">Karaca Kütüphane</h1>
		<p>Okumak Özgürleştirir!</p>
	</div>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="#homepage" id="top-link"><span class="icon solid fa-home">Anasayfa</span></a></li>
			<li><a href="#authors" id="portfolio-link"><span class="icon solid fa-th">Yazarlar</span></a></li>
			<li><a href="#books" id="contact-link"><span class="icon solid fa-user">Kitaplar</span></a></li>
			<li><a href="#about" id="about-link"><span class="icon solid fa-envelope">Hakkında</span></a></li>

		</ul>
	</nav>
</div>

<!-- Social Icons -->
<div class="bottom" >

	<ul class="icons">
		<li><a href="https://github.com/nazifkaraca" class="icon brands fa-github" target="_blank"><span class="label">Github</span></a></li>
		<li><a href="https://www.linkedin.com/in/nazifkaraca/" class="icon brands fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
		<li><a href="mailto:nazif808@gmail.com" class="icon solid fa-envelope" target="_blank"><span class="label">Medium</span></a></li>
	</ul>

</div>

