<section id="top" class="one dark cover">
	<div class="container">

		<header>
			<h2 class="alt">

				Merhaba! <strong>Kütüphane Yönetim Sistemine</strong> Hoşgeldiniz! <br />
				Şu an sistemde @ViewBag.Authors.Count yazar ve @ViewBag.Books.Count kitap var.
			</h2>
			<p>
				Yazar veya Kitap aramak için soldaki gezinme çubuğunu kullanabilirsiniz.
			</p>
		</header>

		<footer>
            <a href="#portfolio" class="button scrolly"><strong>Başlayın</strong></a>
		</footer>

	</div>
</section>
